9.[[:space:]]Sheriff[[:space:]]Mall[[:space:]]Project/sheriff-mall-site-plan-overview.png filter=lfs diff=lfs merge=lfs -text
9.[[:space:]]Sheriff[[:space:]]Mall[[:space:]]Project/sheriff-mall-street-approach-angle.png filter=lfs diff=lfs merge=lfs -text
